/laskarit/viikko2/Maksukortti/target/
/laskarit/viikko2/Maksukortti/nbproject/
/laskarit/viikko2/Unicafe/target
/laskarit/viikko2/Unicafe/nbproject/
/laskarit/.DS_Store
WeightAndBalance/target
/WeightAndBalance/nbproject/
WeightAndBalance/nbactions.xml
/wandb/nbproject/
WeightAndBalance/src/main/java/com
WeightAndBalance/src/main/resources
